[{{ item.1.name }}]
user = {{ item.1.user }}
group = {{ item.1.group }}

listen = {{ item.1.listen }}
listen.owner = {{ item.1.user }}
listen.group = {{ item.1.group }}
listen.mode = 0660

pm = {{ item.1.pm }}
pm.max_children = {{ item.1.pm_max_children }}
pm.start_servers = {{ item.1.pm_start_servers }}
pm.min_spare_servers = {{ item.1.pm_min_spare_servers }}
pm.max_spare_servers = {{ item.1.pm_max_spare_servers }}

; Enable slow log for debugging
pm.process_idle_timeout = 10s
pm.max_requests = 1000

; Logging
access.log = /var/log/php{{ item.0 }}-fpm-access.log
access.format = "%R - %u %t \"%m %r\" %s %f %{mili}d %{kilo}M %C%%"

slowlog = /var/log/php{{ item.0 }}-fpm-slow.log
request_slowlog_timeout = 10s

; Environment variables
env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp

; PHP settings
php_admin_value[sendmail_path] = /usr/sbin/sendmail -t -i -f www@my.domain.com
php_flag[display_errors] = {{ 'on' if php_development_settings.display_errors == 'On' else 'off' }}
php_admin_value[error_log] = /var/log/php{{ item.0 }}-fpm-error.log
php_admin_flag[log_errors] = on
php_admin_value[memory_limit] = {{ php_settings.memory_limit }}
php_admin_value[max_execution_time] = {{ php_settings.max_execution_time }}